# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Build
dist/
build/

# Testes e cobertura
coverage/
**/.cache/

# Sistema
.DS_Store

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
