PORT=3001

#MONGO_URI=mongodb://localhost:27017/casecellshop 
MONGO_URI=mongodb+srv://escola130db:admin@casecellshop.vjgapgh.mongodb.net/casecellshop?appName=casecellshop

#REDIS_URL=redis://localhost:6379
REDIS_URL=redis://red-d937nhdckfvc73afvttg:6379

FRONTEND_URL=https://casecellshop-frontend.onrender.com
VITE_API_URL=https://casecellshop-api.onrender.com

PRODUCTS_CACHE_TTL=60
ERP_FAILURE_RATE=0.25
ERP_MIN_DELAY_MS=2000
ERP_MAX_DELAY_MS=4000